<h1>New Support Request</h1>
<%= @request.errors.full_messages.join(", ") %>
<%= form_for @request do |r| %>
  <div>
    <%= r.label :name %>
    <%= r.text_field :name %>
  </div>
  <div>
    <%= r.label :email %>
    <%= r.text_field :email %>
  </div>
  <div>
    <%= r.label :department %>
    <%= r.radio_button( :department, "sales") %>Sales
    <%= r.radio_button( :department, "marketing") %>Marketing
    <%= r.radio_button( :department, "technical") %>Technical
  </div>
  <div>
    <%= r.label :message %>
    <%= r.text_area :message %>
  </div>
  <%= r.submit %>
<% end %>
