<!DOCTYPE html>
<html>
<head>
  <title>Quiz2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Support Requests</h1>
<%= link_to "All Support Requests" , requests_path %>
|
<%= link_to "New Support Request", new_request_path %>
|
<%= link_to "Search Requests", search_path %>
<%= yield %>

</body>
</html>
